accelerate==0.18.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==4.0.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.0
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.1.0
blinker==1.6.2
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.7.22
cffi==1.16.0
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.3.1
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
colorama==0.4.6
comm==0.1.4
confection==0.0.4
contourpy==1.0.7
coverage==7.2.3
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.5.7
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.16.1
distlib==0.3.6
dj-database-url==2.2.0
Django==5.0.6
django-extensions==3.2.3
dnspython==2.3.0
docker==6.0.1
duckduckgo-search==2.8.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
exceptiongroup==1.1.1
executing==2.0.0
fastjsonschema==2.18.1
filelock==3.12.0
flake8==6.0.0
Flask==2.3.2
Flask-Cors==3.0.10
fonttools==4.39.4
fqdn==1.5.1
freetype-py==2.3.0
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-cloud-texttospeech==2.14.1
googleapis-common-protos==1.59.0
gpt-code-ui==0.42.17
graphviz==0.20.1
grpcio==1.54.2
grpcio-status==1.54.2
gTTS==2.3.1
h11==0.14.0
httplib2==0.22.0
huggingface-hub==0.14.1
identify==2.5.22
idna==3.4
importlib-metadata==6.6.0
iniconfig==2.0.0
ipykernel==6.25.2
ipython==8.16.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.8.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
kiwisolver==1.4.4
lamini==0.0.17
langchain==0.0.169
langcodes==3.3.0
langdetect==1.0.9
loguru==0.7.0
lxml==4.9.2
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==3.0.2
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
nodeenv==1.7.0
notebook==7.0.6
notebook_shim==0.2.3
numexpr==2.8.4
numpy==1.24.2
oauthlib==3.2.2
openai==0.27.2
openapi-schema-pydantic==1.2.4
orjson==3.8.10
outcome==1.2.0
overrides==7.4.0
packaging==23.2
pandas==2.0.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.1
pathy==0.10.1
pdf2image==1.16.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.1
platformdirs==3.11.0
playsound==1.2.2
pluggy==1.0.0
pre-commit==3.2.2
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.2
protobuf==4.22.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pydot==1.4.2
pyflakes==3.0.1
Pygments==2.16.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-benchmark==4.0.0
pytest-cov==4.0.0
pytest-integration==0.2.3
pytest-mock==3.10.0
python-configuration==0.8.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
readability-lxml==0.8.1
redis==4.5.4
referencing==0.30.2
regex==2023.3.23
reportlab==4.0.0
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rlPyCairo==0.2.0
rpds-py==0.10.6
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
selenium==4.9.0
Send2Trash==1.8.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
snakeMQ==1.6
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.13
sqlparse==0.5.0
srsly==2.4.6
stack-data==0.6.3
sympy==1.11.1
tenacity==8.2.2
terminado==0.17.1
thinc==8.1.9
threadpoolctl==3.1.0
tiktoken==0.3.3
tinycss2==1.2.1
tokenizers==0.13.3
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.11.2
transformers==4.28.1
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.13.0
typer==0.7.0
types-python-dateutil==2.8.19.14
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
virtualenv==20.22.0
wasabi==0.10.1
wcwidth==0.2.8
webcolors==1.13
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==2.3.4
whitenoise==6.6.0
wsproto==1.2.0
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.15.0
