@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Flowbite styles */
@import "flowbite";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  display:flex;
}

.custom-drawer {
  background-color: white !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-drawer .drawer-backdrop {
  background-color: white !important;
  opacity: 1 !important;
}

/* global.css */

.modal-backdrop {
  animation: blurIn 0.3s ease-in-out forwards;
}

.modal-content {
  animation: modalAppear 0.3 ease-in-out forwards;
}

@keyframes blurIn {
  from {
      backdrop-filter: blur(0);
  }
  to {
      backdrop-filter: blur(10px);
  }
}

@keyframes modalAppear {
  from {
      opacity: 0;
      transform: translateY(850px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
